# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/server/node_modules

# testing
server/coverage

# production
/server/build
/server/uploads
# misc
/server/.DS_Store
/server/.env
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
